In [57]:
import pandas as pd

# Replace 'your_file.csv' with the actual path to your file
file_path = 'dataset//friends_scripts//Friends_script.csv'
data = pd.read_csv(file_path)

data.rename(columns={'Lines': 'Sentence'}, inplace=True)
df=data
df.head()

       Name                                           Sentence
0    Monica  There's nothing to tell! He's just some guy I ...
1      Joey  C'mon, you're going out with the guy! There's ...
2  Chandler  All right Joey, be nice. So does he have a hum...
3    Phoebe                           Wait, does he eat chalk?
4    Phoebe  Just, 'cause, I don't want her to go through w...

In [58]:
df['Name'] = df['Name'].str.lower()
df['Sentence'] = df['Sentence'].str.lower()
df

           Name                                           Sentence
0        monica  there's nothing to tell! he's just some guy i ...
1          joey  c'mon, you're going out with the guy! there's ...
2      chandler  all right joey, be nice. so does he have a hum...
3        phoebe                           wait, does he eat chalk?
4        phoebe  just, 'cause, i don't want her to go through w...
...         ...                                                ...
55295  chandler                            oh, it's gonna be okay.
55296    rachel   do you guys have to go to the new house right...
55297    monica                                  we got some time.
55298    rachel                   okay, should we get some coffee?
55299  chandler                                       sure. where?

[55300 rows x 2 columns]

In [47]:
df = df.dropna()
df

           Name                                           Sentence
0        monica  there's nothing to tell! he's just some guy i ...
1          joey  c'mon, you're going out with the guy! there's ...
2      chandler  all right joey, be nice. so does he have a hum...
3        phoebe                           wait, does he eat chalk?
4        phoebe  just, 'cause, i don't want her to go through w...
...         ...                                                ...
55295  chandler                            oh, it's gonna be okay.
55296    rachel   do you guys have to go to the new house right...
55297    monica                                  we got some time.
55298    rachel                   okay, should we get some coffee?
55299  chandler                                       sure. where?

[55267 rows x 2 columns]

In [59]:
df['Name'] = df['Name'].str.strip()
df['Sentence'] = df['Sentence'].str.strip().str.replace(r"[^\w\s']", '', regex=True)
df

           Name                                           Sentence
0        monica  there's nothing to tell he's just some guy i w...
1          joey  c'mon you're going out with the guy there's go...
2      chandler  all right joey be nice so does he have a hump ...
3        phoebe                             wait does he eat chalk
4        phoebe  just 'cause i don't want her to go through wha...
...         ...                                                ...
55295  chandler                              oh it's gonna be okay
55296    rachel  do you guys have to go to the new house right ...
55297    monica                                   we got some time
55298    rachel                     okay should we get some coffee
55299  chandler                                         sure where

[55300 rows x 2 columns]

In [ ]:
# Group by 'Name' and aggregate 'Sentence' into a list
df = df.groupby('Name')['Sentence'].agg(list).reset_index()

# Count the number of sentences for each name
df['Sentence_Count'] = df['Sentence'].apply(len)

# Sort by 'Sentence_Count' in descending order
df = df.sort_values(by='Sentence_Count', ascending=False)

df

(813, 3)

In [61]:
df

,Name,Sentence,Sentence_Count
588,rachel,[oh god monica hi thank god i just went to you...,8383
620,ross,"[hi, i just feel like someone reached down my ...",8134
108,chandler,[all right joey be nice so does he have a hump...,7606
450,monica,[there's nothing to tell he's just some guy i ...,7537
326,joey,[c'mon you're going out with the guy there's g...,7351
...,...,...,...
581,professore clerk,[or we could throw you both in now],1
334,joey laughs,[yeah],1
579,professor sherman,[mmmmm],1
578,professor feesen,[professor geller],1
0,(the commercial,[nan],1

In [62]:
df1 = df[df['Name'].isin(['rachel', 'ross', 'chandler', 'monica', 'phoebe', 'joey', 'janice', 'gunther', 'mike', 'gunther', 'susan', 'carol'])] 
df2 = df[df['Name'].isin(['rachel', 'ross', 'chandler', 'monica', 'phoebe', 'joey'])]

In [63]:
df1

,Name,Sentence,Sentence_Count
588,rachel,[oh god monica hi thank god i just went to you...,8383
620,ross,"[hi, i just feel like someone reached down my ...",8134
108,chandler,[all right joey be nice so does he have a hump...,7606
450,monica,[there's nothing to tell he's just some guy i ...,7537
326,joey,[c'mon you're going out with the guy there's g...,7351
548,phoebe,"[wait does he eat chalk, just 'cause i don't w...",6698
437,mike,"[and there is kevin, there is a revolutionary ...",349
307,janice,[oh my god i am so glad you called me i had th...,201
92,carol,"[so, sorry you look good too, a lesbian, marty...",171
264,gunther,[what does rachel see in this guy i love rache...,117
691,susan,"[hi, ross, she, we agreed on minnie, oh please...",95

In [64]:
df2

,Name,Sentence,Sentence_Count
588,rachel,[oh god monica hi thank god i just went to you...,8383
620,ross,"[hi, i just feel like someone reached down my ...",8134
108,chandler,[all right joey be nice so does he have a hump...,7606
450,monica,[there's nothing to tell he's just some guy i ...,7537
326,joey,[c'mon you're going out with the guy there's g...,7351
548,phoebe,"[wait does he eat chalk, just 'cause i don't w...",6698

In [65]:
# Export the core characters data to a new CSV file
df2.to_csv('dataset//friends_scripts//friends_data_cleaned_core.csv', index=False)

In [66]:
df1.to_csv('dataset//friends_scripts//friends_data_cleaned_all.csv', index=False)

In [53]:
# sort the dialogues by length for each character
df1['Sentence'] = df1['Sentence'].apply(lambda x: sorted(x, key=len, reverse=True))
df1

['hi',
 'ross',
 'she',
 'we agreed on minnie',
 'oh please whats wrong with helen',
 'its my baby too',
 'yeah and we all know what a challenge that is',
 'oh no nonononono you see what hes doing he knows noones gonna say all those names so theyll wind up calling her geller then he gets his way',
 'look at that',
 'no shes at a faculty meeting',
 'whats it look like',
 'yes im familiar with the concept we can just look for it',
 'well you know you have to take a course otherwise they dont let you do it',
 'actually im reading it to the baby',
 'what you dont think they can hear sounds in there',
 'yeah all the time i want the baby to know my voice',
 'yeah yeah all the time',
 'but um we just refer to you as bobo the sperm guy',
 'hi hows it goin',
 'keep singing keep singing',
 'i felt it',
 'oh hello ross',
 'so so did you hear',
 'oh thats so  it really isdo we know',
 'oh well is it what we thought it would be',
 'all right who should we call first your folks or deb and rona',
 'i thought they couldill try to get back as soon as i can im sorry',
 'like lovers',
 'carol not me',
 'but were fine',
 'stuck at school some parentteacher thing you can go ill get the information',
 'oh good thisll be fun',
 'i am supposed to be the mommy',
 'look i dont see why i should have to miss out on the coaching training just because im a woman',
 'i will flip you for it',
 'on your back mom',
 'what is honey',
 'carol carol sweetie cleansing breath',
 'i know its frightening but big picture the birth part is just one day and when its over were all gonna be parents for the rest of our lives',
 'i mean thats what this is all about right ross ross',
 'we stopped at the gift shop',
 'i got an extra one you want this',
 'theyre every four minutes and last 55 seconds',
 'swiss quartz ha ha',
 'no im getting it ill be right back',
 'breathe',
 'breathe',
 'breathe',
 'its gonna be ok just remember were doing this for jordie just keep focusing on jordie',
 'your son',
 'i got it',
 'no you dont',
 'he started it',
 'you did',
 'see what you did',
 'how how is this my fault',
 'yeah well theres a lot of things carol never did before i came along',
 'you know what your problem is youre threatened by me',
 'yes',
 'whatre you gonna do suck the door open',
 'the woman i love is having a baby today ive been waiting for this just as much as you have',
 'you get to be the babys father everyone knows who you are who am i theres mothers day theres fathers day theres no lesbian lover day',
 'what do you see',
 'what do you see what do you see',
 'oh look at that',
 'no shouting but we still need a name for this little guy',
 'i like ben',
 'thats what we were off doing',
 'thanks',
 'oh is he hungry already',
 'honey relax ross is great with him  dont look so surprised im a lovely person',
 'oh i got that for him',
 'this should be fun',
 'cantaloupe juice',
 'uh huh',
 'you can keep saying it but it wont stop being true',
 'the other us',
 'is your finger caught in that chair',
 'how you doin',
 'you did a good thing today',
 'you wanna dance',
 'come on ill let you lead',
 'he carries it everywhere its like a security blanket but with ski boots and a kicky beret',
 'so hes got a doll so what unless youre afraid hes gonna grow up and be in show business',
 'whatd you do dip it in sugar',
 'ive literally never been this happy',
 'hey its so nice to finally meet you',
 'oh yeah im so excited ive never been there',
 'that would be great also uh i was hoping to catch a show so if you can make any suggestions',
 'ahh',
 'oh hes fine hes fine its just that us getting along is difficult for him because he doesnt like me',
 'hey',
 'thanks for everything i had such a great time',
 'hey',
 'oh i wouldnt miss it for the world']

In [ ]:
# Keep only the top 95 senetces for each character and update the sentence count column
df1['Sentence'] = df1['Sentence'].apply(lambda x: x[:95])
df1['Sentence_Count'] = df1['Sentence'].apply(len)
df1

In [56]:
df2['Sentence_Count'].sum()

46631