In [36]:
import pandas as pd

# Replace 'your_file.csv' with the actual path to your file
file_path = 'dataset\got_all_scripts\Game_of_Thrones_Script.csv'
data = pd.read_csv(file_path)

# Preview the first few rows of your dataset
print(data.head())

  Release Date    Season    Episode     Episode Title          Name  \
0   2011-04-17  Season 1  Episode 1  Winter is Coming  waymar royce
1   2011-04-17  Season 1  Episode 1  Winter is Coming          will
2   2011-04-17  Season 1  Episode 1  Winter is Coming  waymar royce
3   2011-04-17  Season 1  Episode 1  Winter is Coming          will
4   2011-04-17  Season 1  Episode 1  Winter is Coming         gared

                                            Sentence
0  What do you expect? They're savages. One lot s...
1  I've never seen wildlings do a thing like this...
2                             How close did you get?
3                            Close as any man would.
4                   We should head back to the wall.

In [37]:
df = data[['Name', 'Sentence']]

In [38]:
# Group by 'Name' and aggregate 'Sentence' into a list
df = df.groupby('Name')['Sentence'].agg(list).reset_index()

# Count the number of sentences for each name
df['Sentence_Count'] = df['Sentence'].apply(len)

# Sort by 'Sentence_Count' in descending order
df = df.sort_values(by='Sentence_Count', ascending=False)

# Get the top 50 names
df = df[df['Name'] != 'man']
df = df[df['Name'] != 'soldier']

In [40]:
df

,Name,Sentence,Sentence_Count
509,tyrion lannister,[Mmh. It is true what they say about the North...,1760
193,jon snow,"[Go on. Father's watching., And your mother., ...",1133
86,daenerys targaryen,[We've been his guests for over a year and he'...,1048
70,cersei lannister,[And you never worry about anything. When we w...,1005
180,jaime lannister,"[As your brother, I feel it's my duty to warn ...",945
...,...,...,...
321,mountian,[We hanged twenty men last night.],1
322,musician,[A coat of gold / Or a coat of red / A lion st...,1
326,myrcella baratheon,[Is Bran going to die?],1
327,ned alys,[Now and always!],1
563,young rodrik,"[Give him another go, Ned]",1

In [42]:
filtered_df = df[df['Name'].str.contains('sam', case=False, na=False)]

filtered_df

,Name,Sentence,Sentence_Count
430,sam,"[Nothing's killed me yet., You offered me a ri...",399
432,sam tarly,"[Samwell Tarly, of Horn Hill. I mean, I was of...",157
431,sam pyp and grenn,"[Hyah! Hyah! Hyah! Hyah!, l am the sword in th...",2
433,sammy,[Just a bit woozy.],1
239,little sam,[Mom.],1

In [47]:
# Function to merge similar names
def merge_similar_names(df, name_variants):
    merged_sentences = []
    for name in name_variants:
        if name in df['Name'].values:
            merged_sentences.extend(df[df['Name'] == name]['Sentence'].values[0])
            df = df[df['Name'] != name]
    merged_row = {
        'Name': name_variants[0],
        'Sentence': merged_sentences,
        'Sentence_Count': len(merged_sentences)
    }
    return pd.concat([df, pd.DataFrame([merged_row])], ignore_index=True)

In [48]:
# Define name variants to merge
name_variants_list = [
    ['Sam', 'Samwell', 'Sam Tarly', 'Samwell Tarly'],
    ['Jon Snow', 'Jon', 'John Snow'],
    ['Daenerys Targaryen', 'Daenerys'],
    ['Tyrion Lannister', 'Tyrion'],
    ['Cersei Lannister', 'Cersei'],
    ['Sansa', 'Sansa Stark'],
    ['Arya', 'Arya Stark'],
    ['Bran', 'Bran Stark'],
    ['Jaime', 'Jaime Lannister']
]

In [49]:
# Merge similar names
for name_variants in name_variants_list:
    df = merge_similar_names(df, name_variants)

In [50]:
df

,Name,Sentence,Sentence_Count
0,tyrion lannister,[Mmh. It is true what they say about the North...,1760
1,jon snow,"[Go on. Father's watching., And your mother., ...",1133
2,daenerys targaryen,[We've been his guests for over a year and he'...,1048
3,cersei lannister,[And you never worry about anything. When we w...,1005
4,jaime lannister,"[As your brother, I feel it's my duty to warn ...",945
...,...,...,...
566,Cersei Lannister,[],0
567,Sansa,[],0
568,Arya,[],0
569,Bran,[],0
570,Jaime,[],0

In [51]:
df.head(50)

,Name,Sentence,Sentence_Count
0,tyrion lannister,[Mmh. It is true what they say about the North...,1760
1,jon snow,"[Go on. Father's watching., And your mother., ...",1133
2,daenerys targaryen,[We've been his guests for over a year and he'...,1048
3,cersei lannister,[And you never worry about anything. When we w...,1005
4,jaime lannister,"[As your brother, I feel it's my duty to warn ...",945
5,sansa stark,"[Thank you., Will you shut up?, Would you plea...",784
6,arya stark,"[Move!, Where's the Imp?, Arya., That's Jaime ...",783
7,davos,"[Not now., Stannis is our king. We follow wher...",528
8,theon greyjoy,"[Mountain lion?, It's a freak., Right. Give it...",455
9,petyr baelish,[But we have a Kingdom to look after. I've hop...,449
10,bran stark,"[Jon said he was a deserter., Our way is the o...",399
11,sam,"[Nothing's killed me yet., You offered me a ri...",399
12,bronn,"[You can have my room., Your first? You need a...",393
13,tywin lannister,"[Attacking him was stupid., Lannisters don't a...",381
14,jorah mormont,[A small gift for the new Khaleesi. Songs and ...,381
15,varys,"[Lord Stark., I was grievously sorry to hear o...",371
16,brienne,"[Your Grace, I ask the honor of a place in you...",370
17,eddard stark,[And which one of you was a marksman at ten? K...,347
18,robb stark,"[Relax your bow arm., Lad, go run back and get...",306
19,stannis baratheon,"[For the night is dark and full of terror., He...",296
20,catelyn stark,"[Do you have to?, Ned. Ten is too young to see...",285
21,ramsay bolton,"[Your sister sent me., I'll come for you tonig...",263
22,margaery tyrell,"[Loras! Highgarden!, Now, now, my love. My bro...",262
23,joffrey lannister,"[Better-looking bitches than you're used to, U...",252
24,melisandre,"[Lord of Light, come to us in our darkness. We...",242
25,sandor clegane,"[Rough night, Imp?, I didn't pick you for a hu...",239
26,shae,[ls that why l'm here? So we can talk about ou...,222
27,gendry baratheon,"[It's not for sale., I made it for me., He jus...",207
28,tormund,"[I smell a crow., What do we want with a baby ...",198
29,gilly,[This is our place. Our husband keeps us safe....,195
30,missandei,[The Unsullied have stood here for a day and a...,179
31,olenna tyrell,"[Kiss me, child., It's so good of you to visit...",172
32,ygritte,"[Ygritte., I gave you my name., You ought to b...",171
33,daario,"[Daario Naharis, I hope the old man is better ...",166
34,sam tarly,"[Samwell Tarly, of Horn Hill. I mean, I was of...",157
35,podrick,"[More wine?, Apologies, my lord., Yes, my lord...",155
36,sparrow,"[High Sparrow? Sounds ridiculous, doesn't it? ...",154
37,yara greyjoy,"[I'm heading that way. I can take you there., ...",145
38,osha,"[All alone in the deep dark woods., Oh, that's...",142
39,oberyn martell,"[Look at this one. How lovely is she?, They li...",131
40,sandor,"[Just one., He was a woman., I'm used to it., ...",129
41,tommen lannister,"[Is Joffrey going to kill Sansa's brother?, No...",121
42,robert baratheon,"[You've got fat., Cat!, Nine years. Why haven'...",118
43,qyburn,"[Water. Water., Qyburn., Lucky?, No. The corru...",117
44,grey worm,"[This one has the honor., Grey Worm., Grey Wor...",116
45,jaqen hghar,"[Boy., Lovely boy., A man has a thirst. The ma...",114
46,talisa,"[Shhh., The rot's set in., Shh., The rot will ...",113
47,thoros,"[A lion still has claws..., And so he spoke, a...",102
48,meera,"[I'm better with them. Drop the spear., Drop i...",100
49,beric,"[No. Fighting in a war makes you a soldier., A...",92